@charset "UTF-8";

html,body{
    width: 100%;
    height: 100%;
    background: #eee;
    font-family: Arial,Helvetica,'Heiti SC','Microsoft Yahei',simsun,sans-serif;
    font-size: 1rem;
    color:#fff;
    margin: 0 auto;
    overflow-x:hidden;
    overflow-y:hidden;
    line-height: 1.6;  
}
body{position: relative;}
*,*:before,*:after{
    margin:0;
    padding:0;
    box-sizing: border-box;
    outline:none;
}
img{margin: 0 auto;width:100%;display: block;}
.clearfix{clear: both;}
a{text-decoration: none;-webkit-tap-highlight-color:rgba(0,0,0,0);}
.dn{display: none}
.poa{position: absolute;}
.animated{
	-webkit-transition: all 300ms ease-in-out;
	-moz-transition: all 300ms ease-in-out;
	-ms-transition: all 300ms ease-in-out;
	-o-transition: all 300ms ease-in-out;
	transition: all 300ms ease-in-out;
}
.text-center{text-align: center;}
/*mainWrap*/
.mainWrap{
	position: relative;
	width: 100%;
	height: 100%;
	overflow: hidden;
	background-color:#fff; 
  opacity: 1;
}

.mainWrap .warning{
  background-color: rgb(24,25,24);
  text-align: center;
  position: fixed;
  border-radius: 0.4rem;
  bottom: 1rem;
  right: 1rem;
  padding: 0.1rem 0.4rem;
  color:#fff;
  z-index: 999;
}

.startWrap, .quizWrap, .resultWrap{
  width: 100%;
  height: 100%;
  overflow: hidden;
  position: absolute;
  transition: all 200ms ease-in-out;
}


.startWrap{background: transparent url('../img/startWrap-bg.jpg') no-repeat;background-size: cover;}
.swipeWrap{background: transparent url('../img/vicent.png') no-repeat;background-size: cover;display: none;font-size: 1.25rem}
.resultWrap{display:none;}
.resultWrap.loaded{
  background: transparent url('../img/result-bg.jpg') no-repeat;background-size: cover;background-position: 0 0; 
}
.startWrap .ageWrap,.startWrap .swipeWrap{
  position: absolute;
  width: 100%;
  height: 100%;
  color:#fff;
}

/*swipeWrap static part*/
.ageWrap .title{position:relative;padding-top:15rem;font-size: 1.5rem;letter-spacing: 0.45rem;}
.ageWrap .tips{position: relative;margin-top: 12rem;opacity: 0.85;line-height: 1.8;}
.ageBtn{
    width: 6rem;
    height: 4rem;
    display: block;
    top: 20rem;
    background-color: #000;
    font-size: 1.5rem;
    text-align: center;
    line-height: 4rem;
    background: transparent url('../img/startWrap-icon.png') no-repeat;
    background-size: cover;
    background-position:100% 0; 
}
.ageWrap .yesBtn{left:8rem;}
.ageWrap .noBtn{left:17rem;}
.swipeWrap .vicent{
  width: 100%;
  height: 100%;
  overflow: hidden;
}
.swipeWrap .vicent .vicent-eyes{
  position: absolute;
  width: 11.20rem;
  height: 20.5rem;
  right: 0.5rem;
  top:15.75rem;
  background: transparent url('../img/vicent-eyes.png') no-repeat; 
  background-size: cover; 
  opacity: 0;
}
.swipeWrap .vicent .vicent-lips{
  position: absolute;
  width: 11.20rem;
  height: 20.5rem;
  right: 0.5rem;
  top:15.75rem;
  background: transparent url('../img/vicent-lips.png') no-repeat; 
  background-size: cover; 
  opacity: 0;
}
.swipeWrap .vicent-head{
  position: absolute;
  width: 11.20rem;
  height: 20.5rem;
  right: 0rem;
  top: 15.5rem;
  background: transparent url('../img/vicent-head.png') no-repeat; 
  background-size: cover; 
  opacity: 0;
}
.swipeWrap .vicent-pop{
  position: absolute;
  top: 4rem;
  left: 10rem;
  width: 10rem;
  height: 28.2rem;
  background: transparent url('../img/vicent-pop.png') no-repeat;
  background-size: cover; 
  opacity: 0;
}
.swipeWrap .vicent-pop p{
  width: 1rem;
  word-wrap: break-word;
  position: absolute;
  opacity: 0;
}
.swipeWrap .vicent-pop p:first-of-type{left: 5.5rem;top: 3rem}
.swipeWrap .vicent-pop p:last-of-type{left: 2.5rem;top: 6rem;}

.swipeWrap .swipePrompt{
  position: absolute;
  left: 50%;
  width: 17rem;
  height: 14.6rem;
  margin-left: -9rem;
  top: 14rem;
}
.swipeWrap .swipePrompt .lp, .swipeWrap .swipePrompt .rp{
  position: absolute;
  width: 50%;
  height: 100%;
  background:  transparent url('../img/swipe-prompt.png') no-repeat;
  background-size: cover;
  opacity: 0;
}
.swipeWrap .swipePrompt .lp{left: 0;}
.swipeWrap .swipePrompt .rp{left: 50%;background-position: 100% 0;}
.swipeWrap .swipePrompt p{
  width: 1rem;
  word-wrap: break-word;
  position: absolute;
} 
.swipeWrap .swipePrompt .lp p{left: 4.5rem;top: 1.5rem;}
.swipeWrap .swipePrompt .rp p{left: 2.5rem;top: 4.5rem;}
.swipeWrap .swipePrompt .finger{
  background:  transparent url('../img/startWrap-icon.png') no-repeat;
  background-size: cover;
  width: 3rem;
  height: 4rem;
  background-position: 0 0;
  position: absolute;
  opacity: 0;
  top: 10rem;
  left:5.5rem;
}
/*swipeWrap animation part*/
.swipeWrap .vicent.animated .vicent-eyes{
  
  -webkit-animation: bliking 300ms steps(1) 600ms;
  animation: bliking 300ms steps(1) 600ms;
  transition:all Linear;
}

@keyframes bliking{
  0%{opacity: 0}
  33%{opacity: 1;background-position: 0 0%}
  66%{opacity: 1;background-position: 0 50%}
  100%{opacity: 1;background-position: 0 100%}
}
.swipeWrap .vicent.animated .vicent-lips{
  
  -webkit-animation: liping 750ms steps(1);
  animation: liping 750ms steps(1);
  webkit-animation-iteration-count: 4;
  animation-iteration-count: 4;
  transition:all Linear;
}
@keyframes liping{
  0%{opacity: 0}
  25%{opacity: 1;background-position: 0 0%}
  50%{opacity: 1;background-position: 0 50%}
  75%{opacity: 1;background-position: 0 100%}
  100%{opacity: 0;}
}
.swipeWrap .vicent.animated .vicent-head{
  
  -webkit-animation: fadeInOut 750ms   steps(1) 3200ms;
  animation: fadeInOut 750ms  steps(1) 3200ms;
  transition:all Linear;
}
@keyframes fadeInOut{
  0%{opacity: 0}
  25%{opacity: 1}
  50%{opacity: 1}
  75%{opacity: 1}
  100%{opacity: 0}
}

.swipeWrap .vicent-pop.animated{
  
  -webkit-animation: popUp 180ms steps(1);
  animation: popUp 180ms steps(1);
  transition:all Linear;
  -webkit-animation-fill-mode: forwards;
  animation-fill-mode: forwards;
}
.swipeWrap .vicent-pop.animated p{
  -webkit-animation: fadeIn 200ms 180ms;
  animation: fadeIn 200ms  180ms;
  transition:all Linear;
  -webkit-animation-fill-mode: forwards;
  animation-fill-mode: forwards;
}
@keyframes popUp {
  0% {
    opacity: 0;
  }
  30%{
    opacity: 1;
    background-position: 0 0; 
  }
  66%{
    opacity: 1;
    background-position: 0 50%
  }
  100% {
    opacity: 1;
    background-position: 0 100%;
  }
}
@-webkit-keyframes popUp {
  0% {
    opacity: 0;
  }
  25%{
    opacity: 1;
    background-position: 0 0; 
  }
  50%{
    opacity: 1;
    background-position: 0 50%
  }
  100% {
    opacity: 1;
    background-position: 0 100%;
  }
}

.swipeWrap .swipePrompt.animated .lp{
  -webkit-animation: fadeIn 250ms 600ms;
  animation: fadeIn 250ms  600ms;
  transition:all Linear;
  -webkit-animation-fill-mode: forwards;
  animation-fill-mode: forwards;
}

.swipeWrap .swipePrompt.animated .rp{
  -webkit-animation: fadeIn 250ms 3500ms;
  animation: fadeIn 250ms 3500ms;
  transition:all Linear;
  -webkit-animation-fill-mode: forwards;
  animation-fill-mode: forwards;
}
.swipeWrap .swipePrompt.animated .finger{
  -webkit-animation: move 5000ms  steps(1) 1250ms;
  animation: move 5000ms  steps(1)  1250ms;
  transition:all Linear;
}
@keyframes move{
  0%{opacity: 1;top: 10rem;left:5.5rem}
  10%{opacity: 1;top: 10rem;left:3.5rem}
  20%{opacity: 1;top: 10rem;left:5.5rem}
  30%{opacity: 1;top: 10rem;left:3.5rem}
  40%{opacity: 0;top: 10rem;left:3.5rem}
  50%{opacity: 0;top:2rem;left: 10rem}
  60%{opacity: 1;top: 2rem;left:10rem}
  70%{opacity: 1;top: 2rem;left:12rem}
  80%{opacity: 1;top:2rem;left: 10rem}
  90%{opacity: 1;top:2rem;left: 12rem}
  100%{opacity: 0;top:2rem;left: 12rem}
}
/* quizWrap */
.quizWrap{transform: translate3d(100%,0,0);opacity: 0}
.quizWrap.show{transform: translate3d(0,0,0);opacity: 1}
.quizWrap .bgWrap{
  position:absolute;
  width:100%;
  height:100%;
  
  transition: all 350ms linear;
  transform: scale(1.2); 
}
.quizWrap .bgWrap.loaded{
  background:transparent url('../img/quiz-bg.jpg') no-repeat;
  background-size: cover;
}
.quizWrap .bgWrap.quiz-1{
  background-position: 0.5rem 3rem;
}
.quizWrap .bgWrap.quiz-2{
  background-position: 0.5rem 3rem;
}
.quizWrap .bgWrap.quiz-3{
  background-position: 0.5rem 3rem;
}
.quizWrap .bgWrap.quiz-4{
  background-position: 0.5rem 3rem;
}
.quizWrap .bgWrap.quiz-5{
  background-position: 0.5rem 3rem;
}
.quizWrap .bgWrap.quiz-6{
  background-position: 0.5rem 3rem;
}
.quizWrap .bgWrap.quiz-7{
  background-position: 0.5rem 3rem;
}
.quizWrap .bgWrap.quiz-8{
  background-position: 0.5rem 3rem;
}
.quizWrap .swiper-container{
  position: relative;
  width: 100%;
  height: 100%;
}
.quizWrap .swiper-slide{
  width: 100%;
  height: 100%;
  color: #000;
  font-size: 1.25rem;
  background-color: rgba(10,10,10,0.2);
}
.quizWrap .titleWrap{
  position: absolute;
  left: 50%;
  width: 25rem;
  margin-left: -12.5rem;
  background: transparent url('../img/title-bg.png') no-repeat;
  background-size: cover; 
  font-size: 1.2rem;
  line-height: 1.45;
  top: 3rem;
}

.answerWrap{
  position: absolute;
}
.answerWrap:before, .answerWrap:after{
  clear: both;
}
.answerWrap .icon{
  width: 6rem;
  height: 4rem;
  position: relative;
  float: left;
  background: transparent url('../img/icon.png') no-repeat;
  background-size: cover;
  transform: scale(1.1);
}

.quiz-1 .titleWrap{
  height: 11rem;
  background-position: 0 -9rem;
  padding-top: 2.5rem;
}
.quiz-2 .titleWrap{
  height: 9rem;
  background-position: 0 0rem;
  padding-top: 2.5rem;
}
.quiz-3 .titleWrap{
  width: 26rem;
  height: 12rem;
  margin-left: -13rem;
  background-position: -1rem -20rem;
  top: 2rem;
   padding-top: 3.5rem;
}
.quiz-4 .titleWrap{
  height: 10rem;
  background-position: 0 -32rem;
  padding-top: 2.5rem;
}
.quiz-5 .titleWrap{
  height: 10rem;
  background-position: 1rem -43rem;
  padding-top: 2.5rem;
}
.quiz-6 .titleWrap{
  height: 11rem;
  background-position: 0rem -54rem;
  padding-top: 3rem;
}
.quiz-7 .titleWrap{
  height: 12rem;
  background-position: 0rem -65rem;
  padding-top: 2.5rem;
}
.quiz-8.female .titleWrap{
  background-image: url('../img/quiz8-female.png');
}
.quiz-8.male .titleWrap{
  background-image: url('../img/quiz8-male.png');
}
.quiz-8.female .icon{
  background-image: url('../img/quiz8-female.png');
  width: 10rem;
  height: 6.5rem;
}
.quiz-8.male .icon{
  background-image: url('../img/quiz8-male.png');
  width: 10rem;
  height: 7rem;
}

.quiz-1 .answerWrap[data-an="1"]{
  left:2rem;top:16rem;
}
.quiz-1 .answerWrap[data-an="2"]{
  left:7.5rem;top:21rem;
}
.quiz-1 .answerWrap[data-an="3"]{
  left:5.5rem;top:27rem;
}
.quiz-1 .answerWrap[data-an="4"]{
  left:2rem;top:33rem;
}
.quiz-1 .answerWrap[data-an="5"]{
  left:5.5rem;top:39rem;
}
.quiz-1 .answerWrap[data-an="1"] .icon{
  background-position: 0 0.5rem;
}
.quiz-1 .answerWrap[data-an="2"] .icon{
  background-position: 0 -3rem;
}
.quiz-1 .answerWrap[data-an="3"] .icon{
  background-position: 0 -7rem;
}
.quiz-1 .answerWrap[data-an="4"] .icon{
  background-position: 0 -10.5rem;
}
.quiz-1 .answerWrap[data-an="5"] .icon{
  background-position: 0 -13.5rem;
}

.quiz-2 .answerWrap[data-an="1"]{
  left:1.5rem;top:16rem;
}
.quiz-2 .answerWrap[data-an="2"]{
  left:4rem;top:23rem;
}
.quiz-2 .answerWrap[data-an="3"]{
  left:3rem;top:30rem;
}
.quiz-2 .answerWrap[data-an="4"]{
  left:7rem;top:37rem;
}
.quiz-2 .answerWrap[data-an="1"] .icon{
  background-position: 0 -17.5rem;
}
.quiz-2 .answerWrap[data-an="2"] .icon{
  background-position: 0 -21rem;
}
.quiz-2 .answerWrap[data-an="3"] .icon{
  background-position: 0 -25rem;
}
.quiz-2 .answerWrap[data-an="4"] .icon{
  background-position: 0 -28.5rem;;
}

.quiz-3 .answerWrap[data-an="1"]{
  left:2rem;top:17rem;
}
.quiz-3 .answerWrap[data-an="2"]{
  left:4rem;top:23rem;
}
.quiz-3 .answerWrap[data-an="3"]{
  left:2rem;top:31rem;
}
.quiz-3 .answerWrap[data-an="4"]{
  left:6rem;top:38rem;
}
.quiz-3 .answerWrap[data-an="1"] .icon{
  background-position: 0 -32rem;
}
.quiz-3 .answerWrap[data-an="2"] .icon{
    background-position: 0 -36rem;
    height: 5rem;
    margin-top: -0.5rem;
}
.quiz-3 .answerWrap[data-an="3"] .icon{
    background-position: 0 -41rem;
    height: 5rem;
    margin-top: -0.5rem;
}
.quiz-3 .answerWrap[data-an="4"] .icon{
  background-position: 0 -46rem;
}

.quiz-4 .answerWrap[data-an="1"]{
  left:2.5rem;top:16rem;
}
.quiz-4 .answerWrap[data-an="2"]{
  left:6rem;top:23rem;
}
.quiz-4 .answerWrap[data-an="3"]{
  left:2.5rem;top:31rem;
}
.quiz-4 .answerWrap[data-an="4"]{
  left:4.5rem;top:38rem;
}
.quiz-4 .answerWrap[data-an="1"] .icon{
   background-position: 0 -50rem;
    height: 5rem;
    margin-top: -0.5rem;
}
.quiz-4 .answerWrap[data-an="2"] .icon{
      background-position: 0 -55.5rem;
    height: 5rem;
    margin-top: -0.5rem;
}
.quiz-4 .answerWrap[data-an="3"] .icon{
     background-position: 0 -60.5rem;
    height: 5rem;
    margin-top: -1rem;
}
.quiz-4 .answerWrap[data-an="4"] .icon{
    background-position: 0 -66rem;
    height: 5rem;
    margin-top: -0.5rem;}
.quiz-5 .answerWrap[data-an="1"]{
  left:5rem;top:16rem;
}
.quiz-5 .answerWrap[data-an="2"]{
  left:2rem;top:22rem;
}
.quiz-5 .answerWrap[data-an="3"]{
  left:6rem;top:28rem;
}
.quiz-5 .answerWrap[data-an="4"]{
  left:3rem;top:34rem;
}
.quiz-5 .answerWrap[data-an="5"]{
  left:3rem;top:40rem;
}
.quiz-5 .answerWrap[data-an="1"] .icon{
  background-position: 0 -71rem;
}
.quiz-5 .answerWrap[data-an="2"] .icon{
  background-position: 0 -74rem;
}
.quiz-5 .answerWrap[data-an="3"] .icon{
  background-position: 0 -77.5rem;
}
.quiz-5 .answerWrap[data-an="4"] .icon{
  background-position: 0 -81.5rem;
}
.quiz-5 .answerWrap[data-an="5"] .icon{
  background-position: 0 -85rem;
}
.quiz-6 .answerWrap[data-an="1"]{
  left:5rem;top:17rem;
}
.quiz-6 .answerWrap[data-an="2"]{
  left: 17rem;top: 19rem;
}
.quiz-6 .answerWrap[data-an="3"]{
  left: 10rem;top: 26rem;
}
.quiz-6 .answerWrap[data-an="4"]{
  left: 1rem;top: 30rem;
}
.quiz-6 .answerWrap[data-an="5"]{
  left: 17rem;top: 31rem;
}
.quiz-6 .answerWrap[data-an="6"]{
  left: 5rem;top: 37rem;
}
.quiz-6 .answerWrap[data-an="7"]{
  left: 16rem;top: 38rem;
}
.quiz-6 .answerWrap[data-an="1"] .icon{
  background-position: 0 -89.5rem;
  height: 5rem;
  margin-top: -0.5rem;
}
.quiz-6 .answerWrap[data-an="2"] .icon{
  background-position: 0 -94.5rem;
  height: 5rem;
  margin-top: -0.5rem;
}
.quiz-6 .answerWrap[data-an="3"] .icon{
  background-position: 0 -99.5rem;
  height: 5rem;
  margin-top: -0.5rem;
}
.quiz-6 .answerWrap[data-an="4"] .icon{
  background-position: 0 -104rem;
}
.quiz-6 .answerWrap[data-an="5"] .icon{
  background-position: 0 -107rem;
}
.quiz-6 .answerWrap[data-an="6"] .icon{
  background-position: 0 -111rem;
}
.quiz-6 .answerWrap[data-an="7"] .icon{
  background-position: 0 -115rem;
  height: 5rem;
  margin-top:-0.5rem;
}

.quiz-7 .answerWrap[data-an="1"]{
  left: 6rem;top: 18rem;
}
.quiz-7 .answerWrap[data-an="2"]{
  left: 15rem;top: 25rem;
}
.quiz-7 .answerWrap[data-an="3"]{
  left: 4rem;top: 31rem;
}
.quiz-7 .answerWrap[data-an="4"]{
  left: 10rem;top: 38rem;
}

.quiz-7 .answerWrap[data-an="1"] .icon{
  background-position: 0 -120rem;
}
.quiz-7 .answerWrap[data-an="2"] .icon{
background-position: 0 -123.5rem;
}
.quiz-7 .answerWrap[data-an="3"] .icon{
background-position: 0 -127.5rem;
}
.quiz-7 .answerWrap[data-an="4"] .icon{
background-position: 0 -131rem;    height: 3.5rem;
}


.quiz-8 .answerWrap[data-an="1"]{
  left: 4rem;top: 15rem;
}
.quiz-8 .answerWrap[data-an="2"]{
  left: 16rem;top: 15rem;
}
.quiz-8 .answerWrap[data-an="3"]{
  left: 4rem;top: 25rem;
}
.quiz-8 .answerWrap[data-an="4"]{
  left: 16rem;top: 25rem;
}
.quiz-8 .answerWrap[data-an="5"]{
  left: 4rem;top: 35rem;
}
.quiz-8 .answerWrap[data-an="6"]{
  left: 16rem;top: 35rem;
}

.quiz-8.male .answerWrap[data-an="1"] .icon{
  background-position: 0 -4.75rem;
}
.quiz-8.male .answerWrap[data-an="2"] .icon{
  background-position: 0 -11.75rem;
}
.quiz-8.male .answerWrap[data-an="3"] .icon{
  background-position: 0 -19.5rem;
}
.quiz-8.male .answerWrap[data-an="4"] .icon{
  background-position: 0 -26.5rem;
}
.quiz-8.male .answerWrap[data-an="5"] .icon{
  background-position: 0 -33.5rem;
}
.quiz-8.male .answerWrap[data-an="6"] .icon{
  background-position: 0 -41.75rem;
}
.quiz-8.female .answerWrap[data-an="1"] .icon{
  background-position: 0 -4.5rem;
}
.quiz-8.female .answerWrap[data-an="2"] .icon{
  background-position: 0 -10.75rem;
}
.quiz-8.female .answerWrap[data-an="3"] .icon{
  background-position: 0 -17.5rem;
}
.quiz-8.female .answerWrap[data-an="4"] .icon{
  background-position: 0 -24.75rem;
}
.quiz-8.female .answerWrap[data-an="5"] .icon{
  background-position: 0 -32rem;
}
.quiz-8.female .answerWrap[data-an="6"] .icon{
  background-position: 0 -39.5rem;
}
.answerWrap .answer{
  background: transparent url('../img/answer-bg.png') no-repeat;
  background-size:cover;
  position: absolute;  
      
  width: 24rem;
  height: 2.75rem;
  text-align: center;
  z-index: -1;
  line-height: 2.75rem;
  font-size: 1.2rem
}
.quiz-8 .titleWrap{
    width: 12rem;
    height: 5rem;
    background-position: 0 0;
    padding-top: 2rem;
    margin-left: -6rem;
}
.quiz-8 .answerWrap .answer{
  background: transparent;
  width: 10rem;
  top: 4.5rem;
  z-index: 1;
}
.quiz-8.female .answerWrap .answer{

  top: 4rem;
}
.quiz-1 .answerWrap[data-an="1"] .answer{
  background-position: -0.5rem -42.75rem;
  top: 1rem;
}
.quiz-1 .answerWrap[data-an="2"] .answer{
  background-position: -0.5rem -39.75rem;
  top: 1.5rem;
  left: 0.5rem
}
.quiz-1 .answerWrap[data-an="3"] .answer{
  background-position: -0.5rem -45.75rem;
  top: 1rem;
  margin-left: -1rem;
}
.quiz-1 .answerWrap[data-an="4"] .answer{
  background-position:-0.5rem -29.5rem;
  top: 1rem;left: 1rem
}
.quiz-1 .answerWrap[data-an="5"] .answer{
   background-position: -0.5rem -36.75rem;
  top: 1rem;left: 1rem;
}
.quiz-2 .answerWrap[data-an="1"] .answer{
  background-position: -0.5rem -33rem;
  margin-left: 1rem;
  top: 1.5rem;
}
.quiz-2 .answerWrap[data-an="2"] .answer{
  background-position: -0.5rem -12.75rem;
  top: 1.5rem;
  margin-left: 2rem
}
.quiz-2 .answerWrap[data-an="3"] .answer{
  background-position: -0.5rem -22.75rem;
  top: 1rem;

}
.quiz-2 .answerWrap[data-an="4"] .answer{
  background-position:-0.5rem -29.5rem;
  top: 1rem;margin-left: 1rem
}
.quiz-3 .answerWrap[data-an="1"] .answer{
  background-position: -0.5rem -26rem;
  margin-left: 1rem;
  top: 1rem;
}
.quiz-3 .answerWrap[data-an="2"] .answer{
  background-position: -0.5rem -12.75rem;
  top: 1.5rem;
  margin-left: 2rem
}
.quiz-3 .answerWrap[data-an="3"] .answer{
  background-position: -0.5rem -16rem;
  top: 1.5rem;
}
.quiz-3 .answerWrap[data-an="4"] .answer{
  background-position:-0.5rem -29.5rem;
  top: 1rem;margin-left: 1rem;
}

.quiz-4 .answerWrap[data-an="1"] .answer{
  background-position: -0.5rem -26rem;
  margin-left: 1rem;
  top: 1.5rem;
}
.quiz-4 .answerWrap[data-an="2"] .answer{
  background-position: -0.5rem -25.75rem;
  top: 1.5rem;
  margin-left: 1rem
}
.quiz-4 .answerWrap[data-an="3"] .answer{
  background-position: -0.5rem -26rem;
  top: 1rem;
  margin-left: 2rem;
}
.quiz-4 .answerWrap[data-an="4"] .answer{
  background-position: -0.5rem -12.75rem;
  top: 2rem;
  margin-left: 2rem;
}

.quiz-5 .answerWrap[data-an="1"] .answer{
  background-position: 0 -45.75rem;
  top: 1rem;margin-left: -0.5rem
}
.quiz-5 .answerWrap[data-an="2"] .answer{
  background-position: 0 0;
  top: 1rem;margin-left: 3rem
}
.quiz-5 .answerWrap[data-an="3"] .answer{
  background-position: -0.5rem -26rem;
  top: 1rem;
  margin-left: 1rem;
}
.quiz-5 .answerWrap[data-an="4"] .answer{
  background-position: -0.5rem -12.75rem;
  top: 1rem;
  margin-left: 2rem;
}
.quiz-5 .answerWrap[data-an="5"] .answer{
  background-position: -0.5rem -9.5rem;
  top: 1rem;
  margin-left: 3rem;
}
.quiz-5 .answerWrap[data-an="6"] .answer{
  background-position: -0.5rem -12.75rem;
  top: 2rem;
  margin-left: 2rem;
}
.quiz-6 .answer{
  background: transparent url(../img/icon.png) no-repeat;
  background-position: 0rem -179rem;
  width: 8rem;
  height: 3.75rem;
  line-height: 4rem;
}
.quiz-6 .answerWrap[data-an="1"] .answer{
  left: 3rem;top: 1rem;
}
.quiz-6 .answerWrap[data-an="2"] .answer{
  left: 3rem;
  top: 0.5rem;
}
.quiz-6 .answerWrap[data-an="3"] .answer{
    left: 2rem;
    top: 1rem;
}
.quiz-6 .answerWrap[data-an="4"] .answer{
    left: 2rem;
    top: 1rem;
}
.quiz-6 .answerWrap[data-an="5"] .answer{
    left: 2rem;
  top: 1rem;
}
.quiz-6 .answerWrap[data-an="6"] .answer{
  left: 1.5rem;
  top: 1.5rem;
}
.quiz-6 .answerWrap[data-an="7"] .answer{
  left: 1.5rem;
  top: 1.5rem;
}

.quiz-7 .answerWrap[data-an="1"] .answer{
  background-position:0 -22.75rem ; top: 1rem;
}
.quiz-7 .answerWrap[data-an="2"] .answer{
  left: -3rem;
  top: 1rem;
  background-position: -1rem -49rem;
}
.quiz-7 .answerWrap[data-an="3"] .answer{
  top: 1rem;
  background-position: -0.5rem -16rem;
}
.quiz-7 .answerWrap[data-an="4"] .answer{
  top: 1rem;
  background-position: -0.5rem -46rem;
}
/* resultWrap part*/
.resultWrap.animated{
  -webkit-animation: scrollDown 750ms 100ms;
  animation: scrollDown 750ms  100ms;
  transition:all ease-out;
  -webkit-animation-fill-mode: forwards;
  animation-fill-mode: forwards;
  transition-timing-function: cubic-bezier(0.37, 0.7, 0.25, 1);
}

.resultWrap .pop{
  position: absolute;
  background: transparent url('../img/result-pop.png') no-repeat;
  background-size: cover;
  text-align: center;
  font-size: 1.2rem;
  line-height: 1.35;
  color: #000;
  opacity: 0;
  transition:all ease-out;
  
}
.resultWrap .pop1{
  right: -2rem;
  top: 22rem;
  background-position: 0 0;
  width: 12rem;
  height: 5.8rem;
  padding-top: 1rem;
}
.resultWrap .pop2{
    right: 8rem;
    top: 25rem;
    background-position: -0.5rem -6rem;
    width: 13rem;
    height: 3.75rem;
    padding-top: 0.75rem;
}
.resultWrap .pop3{
  left: -3rem;
  top: 21rem;
  background-position: -0.5rem -10.5rem;
  width: 14rem;
  height: 6.5rem;
  padding-top: 1rem;
  padding-left: 0.5rem;
}
.resultWrap .pop4{
  left: 3rem;
  top: 30rem;
  background-position: 0rem -16rem;
  width: 13.5rem;
  height: 5rem;
  padding-top: 2rem;
  padding-left: 0.5rem;
}
.resultWrap .pop5{
  left: 7rem;
  top: 20rem;
  background-position: 0rem -20.5rem;
  width: 13rem;
  height: 4rem;
  padding-top: 1rem;
  padding-left: 0.5rem;
  font-weight: bold;
}
.resultWrap.animated .pop1{
  -webkit-animation: fadeInUp 400ms 1000ms;
  animation: fadeInUp 400ms  1000ms;
  -webkit-animation-fill-mode: forwards;
  animation-fill-mode: forwards;
}
.resultWrap.animated .pop2{
  -webkit-animation: fadeInUp 400ms 1500ms;
  animation: fadeInUp 400ms  1500ms;
  -webkit-animation-fill-mode: forwards;
  animation-fill-mode: forwards;
}
.resultWrap.animated .pop3{
  -webkit-animation: fadeInUp 400ms 2000ms;
  animation: fadeInUp 400ms  2000ms;
  -webkit-animation-fill-mode: forwards;
  animation-fill-mode: forwards;
}
.resultWrap.animated .pop4{
  -webkit-animation: fadeInDown 400ms 2500ms;
  animation: fadeInDown 400ms  2500ms;
  -webkit-animation-fill-mode: forwards;
  animation-fill-mode: forwards;
}
.resultWrap.animated .pop5{
  -webkit-animation: fadeInUp 400ms 3000ms;
  animation: fadeInUp 400ms  3000ms;
  -webkit-animation-fill-mode: forwards;
  animation-fill-mode: forwards;
}
.resultWrap.animated.completed .pop1{
  -webkit-animation: fadeOutUp 400ms 100ms;
  animation: fadeOutUp 400ms  1000ms;
  -webkit-animation-fill-mode: forwards;
  animation-fill-mode: forwards;
  opacity: 1;
}
.resultWrap.animated.completed .pop2{
  -webkit-animation: fadeOutUp 400ms 100ms;
  animation: fadeOutUp 400ms  1000ms;
  -webkit-animation-fill-mode: forwards;
  animation-fill-mode: forwards;
  opacity: 1;
}
.resultWrap.animated.completed .pop3{
  -webkit-animation: fadeOutUp 400ms 100ms;
  animation: fadeOutUp 400ms  1000ms;
  -webkit-animation-fill-mode: forwards;
  animation-fill-mode: forwards;
  opacity: 1;
}
.resultWrap.animated.completed .pop4{
  -webkit-animation: fadeOutDown 400ms 100ms;
  animation: fadeOutDown 400ms  1000ms;
  -webkit-animation-fill-mode: forwards;
  animation-fill-mode: forwards;
  opacity: 1;
}
.resultWrap.animated.completed .pop5{
  -webkit-animation: fadeOutUp 400ms 100ms;
  animation: fadeOutUp 400ms  1000ms;
  -webkit-animation-fill-mode: forwards;
  animation-fill-mode: forwards;
  opacity: 1;
}

.resultWrap .result{
  display: none;
  position: absolute;
  width: 100%;
  height: 100%;  
}

.resultWrap .result.warmUp > div {background: transparent url('../img/warmUp.png') no-repeat;  background-size: cover; }
.resultWrap .result.topicMaker > div {background: transparent url('../img/topicMaker.png') no-repeat;  background-size: cover; }
.resultWrap .result.babyBicao > div {background: transparent url('../img/babyBicao.png') no-repeat;  background-size: cover; }
.resultWrap .result.calculative > div {background: transparent url('../img/calculative.png') no-repeat;  background-size: cover; }
.resultWrap .result > div{
  position: absolute;
  left: 50%;
  width: 18rem;
  margin-left: -9rem;
  text-align: center;
}
.resultWrap .result .content{background-size: 0 0;}
.resultWrap .result .content h2{padding-top: 5rem;color: #000}
.resultWrap .result .content p{padding-top: 1rem;color: #000;font-size: 1.2rem}
.resultWrap .result.topicMaker  h2{padding-top: 4rem}
.resultWrap .result .giftBtn{
  color: #fff;
  font-size: 1.25rem;
  letter-spacing: 0.2rem;
  line-height: 5rem;
}
.resultWrap .result.warmUp .content{
  height: 19rem;
  top: 7rem;
}
.resultWrap .result.warmUp .name{
  background-position: -3rem -19rem;
  height: 5rem;
  top: 7rem;
}
.resultWrap .result.warmUp .giftBtn{
  background-position: 0rem -27rem;
  height: 5rem;
  top: 31rem;
  width: 20rem;
  margin-left: -10rem;
}
.resultWrap .result.calculative .content{
  background-position: 0 0;
  height: 21rem;
  top: 4rem;
}
.resultWrap .result.calculative .name{
  background-position: -2.5rem -20rem;
  height: 5rem;
  top: 5rem;
}
.resultWrap .result.calculative .giftBtn{
  background-position: 0rem -27.5rem;
  height: 5rem;
  top: 31rem;
  width: 20rem;
  margin-left: -10rem;
  line-height: 5rem;
}
.resultWrap .result.babyBicao .content{
    height: 18rem;
    top: 6rem;
}
.resultWrap .result.babyBicao .name{
  background-position: -2.5rem -18rem;
  height: 5rem;
  top: 7rem;
}
.resultWrap .result.babyBicao .giftBtn{
  background-position: 0rem -26rem;
  height: 5rem;
  top: 31rem;
  width: 20rem;
  margin-left: -10rem;
  line-height: 5rem;
}
.resultWrap .result.topicMaker .content{
  background-position: -1rem 0;
  height: 20rem;
  top: 6rem;
  width: 21rem;
  margin-left: -10.5rem;
}
.resultWrap .result.topicMaker .name{
  background-position: -3rem -19.5rem;
  height: 5rem;
  top: 5.5rem;
  width: 20rem;
}
.resultWrap .result.topicMaker .giftBtn{
  background-position: -1rem -26rem;
  height: 5rem;
  top: 31rem;
  width: 21rem;
  margin-left: -10rem;
  line-height: 5rem;
}

.resultWrap .awardWrap{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(10,10,10,0.2);
  display: none;
}
.resultWrap .awardWrap > div{
  position: absolute;
  left: 50%;
  background: transparent url('../img/award-bg.png') no-repeat;
  background-size: cover;
  display: none;  
}
.resultWrap .awardWrap > div .closeBtn{
    position: absolute;
    right: 0;
    top: 0;
    background-color: transparent;
    height: 5rem;
    width: 5rem;
}
.resultWrap .awardWrap > div input{
  position: absolute;
  width: 16rem;
  left: 50%;
  margin-left: -8rem;
  height: 3.25rem;
  line-height: 3.25rem;
  padding: 0 1rem;
  text-align: center;
  color:#000;
  border: none;
  background:transparent; 
  font-size: 1.25rem;
}

.resultWrap .awardWrap > div a{
    color: #fff;
    text-align: center;
    position: absolute;
    text-decoration: none;
}
.resultWrap .awardWrap > div p{
  color:#000;
  text-align: center;
  font-size: 1.25rem;
  padding-top: 5rem;
  letter-spacing: 0.2rem;
}
.resultWrap .awardWrap > div .tryBtn{
    font-size: 1.2rem;
    top: 9.5rem;
    letter-spacing: 0.2rem;
    height: 4rem;
    line-height: 4rem;
    width: 14rem;
    left: 50%;
    margin-left: -7rem;
}
.resultWrap .awardWrap .info{
  width: 25rem;
  height: 36rem;
  margin-left: -12.5rem;
  background-position: 0 -57rem;
  top: 7rem;
  display: block;
}

.resultWrap .awardWrap .award{
  width: 25rem;
  height: 39rem;
  margin-left: -12.5rem;
  background-position: 0 -18rem;
  top: 5rem;
}
.resultWrap .awardWrap .award #add{
    top: 25.5rem;
    width: 18rem;
    margin-left: -9rem;
}
.resultWrap .awardWrap .award .submitBtn{
  width: 18rem;
  left: 50%;
  margin-left: -9rem;
  top: 30rem;
}
::-webkit-input-placeholder { /* Chrome/Opera/Safari */
  color: #000;
}

.resultWrap .awardWrap .info #fullname{
  top: 11.5rem;
}
.resultWrap .awardWrap .info #phone{
  top: 16.5rem;
}
.resultWrap .awardWrap .info #code{
  width: 9rem;
  top: 21.5rem;
  left: 13rem;
}
.resultWrap .awardWrap .info .getCodeBtn{
  width: 6rem;
  height: 3rem;
  line-height: 3rem;
  color: #fff;
  top: 21.5rem;
  left: 14.5rem;
}
.resultWrap .awardWrap > div .submitBtn{
  width: 16.5rem;
  left: 50%;
  margin-left: -8rem;
  top: 26.25rem;
  height: 3rem;
  line-height: 3rem;
  font-size: 1.25rem;
  letter-spacing: 0.4rem;
}

.resultWrap .awardWrap .noAward, .resultWrap .awardWrap .infoCompleted{
    width: 25rem;
    height: 19rem;
    margin-left: -12.5rem;
    background-position: 0px 0.5rem;
    top: 10rem;
}

@keyframes scrollDown{
  0%{background-position: 0 0}
  100%{background-position: 0 100%}
}

.resultWrap .shareWrap{position: absolute;left: 0;top: 0;width: 100%;height: 100%;display: none;background:transparent url('../img/share-bg.png') no-repeat;background-size: cover}
.resultWrap .shareWrap p{text-align: center;padding-top: 17rem;font-size: 1.25rem;line-height: 1.8;letter-spacing: 0.2rem;}
/*animation part*/

.animated {
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}

.animated.infinite {
  -webkit-animation-iteration-count: infinite;
  animation-iteration-count: infinite;
}
@-webkit-keyframes moving {
  0% {
    opacity: 0;
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }

  100% {
    opacity: 0.9;
    -webkit-transform: translate3d(0, 60%, 0);
    transform: translate3d(0, 60%, 0);
  }
}

@keyframes moving {
   0% {
    opacity: 0;
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }

  100% {
    opacity: 0.9;
    -webkit-transform: translate3d(0, 60%, 0);
    transform: translate3d(0, 60%, 0);
  }
}

.moving {
  -webkit-animation-name: moving;
  animation-name: moving;
  transition:all ease-in;
}


@-webkit-keyframes fadeInUp {
  0% {
    opacity: 0;
    -webkit-transform: translate3d(0, 10%, 0);
    transform: translate3d(0, 10%, 0);
  }

  100% {
    opacity: 1;
    -webkit-transform: none;
    transform: none;
  }
}

@keyframes fadeInUp {
  0% {
    opacity: 0;
    -webkit-transform: translate3d(0, 10%, 0);
    transform: translate3d(0, 10%, 0);
  }

  100% {
    opacity: 1;
    -webkit-transform: none;
    transform: none;
  }
}

.fadeInUp {
  -webkit-animation-name: fadeInUp;
  animation-name: fadeInUp;
}

@-webkit-keyframes fadeInDown {
  0% {
    opacity: 0;
    -webkit-transform: translate3d(0, -10%, 0);
    transform: translate3d(0, -10%, 0);
  }

  100% {
    opacity: 1;
    -webkit-transform: none;
    transform: none;
  }
}

@keyframes fadeInDown {
  0% {
    opacity: 0;
    -webkit-transform: translate3d(0, -10%, 0);
    transform: translate3d(0, -10%, 0);
  }

  100% {
    opacity: 1;
    -webkit-transform: none;
    transform: none;
  }
}

@-webkit-keyframes fadeIn {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

.fadeIn {
  -webkit-animation-name: fadeIn;
  animation-name: fadeIn;
}

@-webkit-keyframes fadeInLeft {
  0% {
    opacity: 0;
    -webkit-transform: translate3d(-10%, 0, 0);
    transform: translate3d(-10%, 0, 0);
  }

  100% {
    opacity: 1;
    -webkit-transform: none;
    transform: none;
  }
}

@keyframes fadeInLeft {
  0% {
    opacity: 0;
    -webkit-transform: translate3d(-10%, 0, 0);
    transform: translate3d(-10%, 0, 0);
  }

  100% {
    opacity: 1;
    -webkit-transform: none;
    transform: none;
  }
}

.fadeInLeft {
  -webkit-animation-name: fadeInLeft;
  animation-name: fadeInLeft;
}


@-webkit-keyframes fadeInRight {
  0% {
    opacity: 0;
    -webkit-transform: translate3d(10%, 0, 0);
    transform: translate3d(10%, 0, 0);
  }

  100% {
    opacity: 1;
    -webkit-transform: none;
    transform: none;
  }
}

@keyframes fadeInRight {
  0% {
    opacity: 0;
    -webkit-transform: translate3d(10%, 0, 0);
    transform: translate3d(10%, 0, 0);
  }

  100% {
    opacity: 1;
    -webkit-transform: none;
    transform: none;
  }
}

.fadeInRight {
  -webkit-animation-name: fadeInRight;
  animation-name: fadeInRight;
}

@-webkit-keyframes fadeOutDown {
  0% {
    opacity: 1;
  }

  100% {
    opacity: 0;
    -webkit-transform: translate3d(0, 10%, 0);
    transform: translate3d(0, 10%, 0);
  }
}

@keyframes fadeOutDown {
  0% {
    opacity: 1;
  }

  100% {
    opacity: 0;
    -webkit-transform: translate3d(0, 10%, 0);
    transform: translate3d(0, 10%, 0);
  }
}


@-webkit-keyframes fadeOutUp {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
    -webkit-transform: translate3d(0, -10%, 0);
    transform: translate3d(0, -10%, 0);
  }
}

@keyframes fadeOutUp {
  0% {
    opacity: 1;
  }

  100% {
    opacity: 0;
    -webkit-transform: translate3d(0, -10%, 0);
    transform: translate3d(0, -10%, 0);
  }
}